<style>
    .yearly{
        margin-left: 30px;
        border-left: 1px solid #e0e0e0;
    }


    /* make the active nav a different colour */
    

    /* make the text in nav items go up and form tab like stuffs when hover */
  
    /* .navbar-nav .nav-item:hover {
        background-color: #8edbff;
        zoom: 1.1;
        border-radius: 10px;
    } */

    .nav-link {
        text-align: center;
    }

  .nav-link.activeTab {
    color: rgb(255, 255, 255);
    background-color: #3B71CA;
    border-radius: 5px 5px 0 0;
  }

</style>	
<div class="container">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <!-- <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          /> -->
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="days">Monthly Working Days</a>
          </li>
          <li class="nav-item yearly">
            <a class="nav-link" href="year">Holidays</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Notifications -->
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <!-- <span class="badge rounded-pill badge-notification bg-danger">1</span> -->
          </a>
        </div>
    </div>
  </nav>
  <!-- Navbar -->
</div>
<script>
const navLinks = document.querySelectorAll('.nav-link');
// navLinks.forEach(link => {
//   link.addEventListener('click', () => {
//     navLinks.forEach(link => {
//       link.classList.remove('active');
//     });
//     link.classList.add('active');
    
//   });
//   console.log(link.classList);
// });

for (let i = 0; i < navLinks.length; i++) {
  if('active' in navLinks[i].classList){
    navLinks[i].classList.remove('activeTab');
  }
  if(navLinks[i].href == window.location.href){
    navLinks[i].classList.add('activeTab');
  }
  console.log(navLinks[i].classList);
}


</script>