{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <div class="container">
      <form class="form-outline mb-4" action="days" method="POST">
        {% csrf_token %}
        <div class="dates">
          Start Date:
          <input
            type="text"
            value="{{sdate}}"
            id="pickadate"
            class="form-control"
            name="start"
          />
          End Date:
          <input
            type="text"
            value="{{edate}}"
            id="pickadate2"
            class="form-control"
            name="end"
            onchange="validateForm()"
          />
          {% if sat == 'yes' %} Saturday included:
          <input name="sat" type="checkbox" value="yes" checked /> {% else %}
          Saturday included: <input name="sat" type="checkbox" value="yes" />
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary" id="button">Submit</button>
      </form>
      <div class="results">
        <h1>Results</h1>
        
        <span>
          <p>Number of working days: {{no_days}}</p>
          <p>Number of weekends: {{weekends}}</p>
          <p>Number of holidays: {{holidays}}</p>
        </span>
        
      </div>
      <div class="holidays">
        <h1>Holidays</h1>
        {% if name_holidays %}
        <span>
          {% for holiday in name_holidays %}
          <p class="holiday">{{holiday}}</p>
          {% endfor %}
        </span>
        {% endif %}
      </div>
    </div>
    
    <!-- <input type="text" value="" id="pickadate" class="pickadate" /> -->

    <script>
      $("#pickadate, #pickadate2").flatpickr({
        dateFormat: "d.m.Y",
        maxDate: new Date().fp_incr(365), // 14 days from now
        disableMobile: true,
      });
      var hl = document.querySelectorAll(".holiday");
      for (var i = 0; i < hl.length; i++) {
        date = hl[i].innerHTML;
        dateParts = date
          .replace(/([a-zA-Z ])/g, "")
          .replace(",,", "")
          .replace(",", "")
          .replace(/([šđčćžŠĐČĆŽ])/g, "");
        dateParts = dateParts.replace(",", "");
        dateParts = dateParts.split("-");
        date = dateParts[2] + "." + dateParts[1] + "." + dateParts[0];
        var holiday = hl[i].innerHTML;
        hl[i].innerHTML =
          hl[i].innerHTML
            .replace(/[0-9]/g, "")
            .replace("--", "")
            .replace(",,", ",") +
          " " +
          date;
      }
      var btn = document.getElementById("button");
      btn.addEventListener("click", function () {
        swal("Calculating...", {
          buttons: false,
          timer: 5000,
        });
      });
      function validateForm() {
        console.log("validating");
        sdate = document.getElementById("pickadate").value;
        edate = document.getElementById("pickadate2").value;
        sdate.split(".");
        edate.split(".");
        var month1 = sdate.slice(3, 5);
        var month2 = edate.slice(3, 5);
        console.log(month1);
        console.log(month2);
        if (month1 != month2 || month1 > month2 || month1 < month2) {
          btn.style.display = "none";
          // alert("Please select dates in the same month");
          swal("Accepts dates within one month range", {
            buttons: ["Oh noez!", true],
          });
        } else {
          btn.style.display = "block";
        }
      }
    </script>
  </body>
</html>
{% endblock %}